

<!-- 
    Mat side bar
    Mat snack bar
    Drag and drop
-->

<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <mat-list *ngFor="let hero of testHeroes">
            <mat-list-item>
                {{hero.name}}
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="example-container" cdkDropListGroup>
            <h2>Test Heroes</h2>
            <div
                cdkDropList
                #doneList="cdkDropList"
                [cdkDropListData]="done"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
            </div>
        <div class="example-container">
            <h2>testHeroes</h2>
                <div
                    cdkDropList
                    #heroList="cdkDropList"
                    [cdkDropListData]="testHeroes"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let hero of testHeroes" cdkDrag><p>{{hero.name}}</p></div>
                </div>
            </div>
        </div> 
    </mat-sidenav-content>
</mat-sidenav-container>

