mat-card {
    max-width: 150px;
    max-height: 300px;
    background-color: beige;
}

mat-card-content {
    text-align: center;
}

.card-stats {
    position: absolute;
    bottom: 0px;
}

mat-grid-tile {
    background: lightblue;  
}

