.grid-container {
    display: grid;
    grid-template-columns: 200px 200px;
    justify-content: space-evenly;
    align-content: start;
    grid-gap: 10px;
    padding: 10px;
  }

.mat-card {
    background-color: beige;
}