<div>
    <mat-grid-list cols="3" rowHeight="400px">
        <mat-grid-tile *ngFor="let hero of heroes">
            <mat-card>
                <mat-card-title>{{hero.name}}</mat-card-title>
                <img style="max-height: 275px" mat-card-image src="{{hero.url}}">
                <mat-card-content><p class="card-paragraph">I:{{hero.intelligence}}, Str:{{hero.strength}}, Sp:{{hero.speed}},<br> D:{{hero.durability}}, P:{{hero.power}}, C:{{hero.combat}}</p></mat-card-content>
            </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
</div>

