<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" routerLink="/home">Revature Heroes</a>
        <ul class="navbar-nav">
            <li><a *ngIf="!flag.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
            <li><a *ngIf="flag.isUserLoggedIn()" routerLink="/hero-mission" class="nav-link">Missions</a></li>

            <li><a *ngIf="flag.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>